// Generic styles
@import "styles/colors";
@import "styles/layouts";

// Specific styles
@import "styles/bubbles";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
