// Generic styles
@import "styles/colors";
@import "styles/layouts";

// Specific styles
@import "styles/bubbles";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 1em;
  margin: 0;

  & li {
    margin-right: 1em;
    & a {
      font-size: 1.2em;
      font-weight: bold;
      color: var(--text-color);
      &:visited {
        color: var(--text-color);
      }
      &:hover {
        color: var(--text-color);
      }
    }
  }
}

p {
  text-align: center;
}

input, select {
  height: 2em;
  padding: 3px;
  margin: 0.33em;
}
