.bubble {
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
  margin: 1em;
  margin-bottom: 0.5em;
  padding: 1em;
  border-radius: 1em;
  position: relative;
  box-shadow: 2px 2px 4px 0 var(--shadow-color);

  &.right-bubble {
    margin-left: auto;

    // Add the arrow of the bubble with before and after - right arrow
    &:before {
      content: ' ';
      position: absolute;
      right: -17px;
      top: -1px;
      border: 1em solid;
      border-color: var(--border-color) transparent transparent transparent;
      filter: drop-shadow(2px 2px 1px var(--shadow-color));
    }

    &:after {
      content: ' ';
      position: absolute;
      right: -15px;
      top: 0;
      border: 1em solid;
      border-color: var(--primary-color) transparent transparent transparent;
    }
  }

  &.left-bubble {
    margin-right: auto;

    // Add the arrow of the bubble with before and after - left arrow
    &:before {
      content: ' ';
      position: absolute;
      left: -17px;
      top: -1px;
      border: 1em solid;
      border-color: var(--border-color) transparent transparent transparent;
    }

    &:after {
      content: ' ';
      position: absolute;
      left: -15px;
      top: 0;
      border: 1em solid;
      border-color: var(--primary-color) transparent transparent transparent;
    }

    & div.header {
      position: relative;
      top: -0.9em;
      font-size: 0.8em;
      font-weight: bold;
      color: var(--secondary-color);
    }
  }
  & div.display-time {
    position: relative;
    bottom: -0.9em;
    right: -0.7em;
    font-size: 0.8em;
    color: grey;
    text-align: right;
  }
}
