.bubble {
  background-color: $primaryColor;
  border: 1px solid $borderColor;
  margin: 1em auto 1em 1em;
  padding: 1em;
  border-radius: 1em;
  position: relative;

  &.rightbubblearrow {
    &:before {
      content: ' ';
      position: absolute;
      right: -17px;
      top: -1px;
      border: 1em solid;
      border-color: $borderColor transparent transparent transparent;
    }
    &:after {
      content: ' ';
      position: absolute;
      right: -15px;
      top: 0;
      border: 1em solid;
      border-color: $primaryColor transparent transparent transparent;
    }
  }
  &.leftbubblearrow {
    &:before {
      content: ' ';
      position: absolute;
      left: -17px;
      top: -1px;
      border: 1em solid;
      border-color: $borderColor transparent transparent transparent;
    }
    &:after {
      content: ' ';
      position: absolute;
      left: -15px;
      top: 0;
      border: 1em solid;
      border-color: $primaryColor transparent transparent transparent;
    }
  }
}
