.bubble {
  background-color: $primaryColor;
  border: 1px solid $borderColor;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  position: relative;

  &.right-bubble {
    margin-left: auto;

    // Add the arrow of the bubble with before and after - right arrow
    &:before {
      content: ' ';
      position: absolute;
      right: -17px;
      top: -1px;
      border: 1em solid;
      border-color: $borderColor transparent transparent transparent;
    }

    &:after {
      content: ' ';
      position: absolute;
      right: -15px;
      top: 0;
      border: 1em solid;
      border-color: $primaryColor transparent transparent transparent;
    }
  }

  &.left-bubble {
    margin-right: auto;

    // Add the arrow of the bubble with before and after - left arrow
    &:before {
      content: ' ';
      position: absolute;
      left: -17px;
      top: -1px;
      border: 1em solid;
      border-color: $borderColor transparent transparent transparent;
    }

    &:after {
      content: ' ';
      position: absolute;
      left: -15px;
      top: 0;
      border: 1em solid;
      border-color: $primaryColor transparent transparent transparent;
    }
  }
}
