html {
  --primary-color: #dcf8c6;
  --secondary-color: #d13d3d;
  --border-color: #c4dbb1;
  --shadow-color: #6a904d;
  --background-color: white;
  --text-color: black;
}

html[data-theme='dark'] {
  --primary-color: #1F2C34;
  --secondary-color: orange;
  --border-color: #c4dbb1;
  --shadow-color: #6a904d;
  --background-color: #232323;
  --text-color: white;
}
